@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Crimson Text", serif;
}
/* header */
header{
    background-color: #00420c;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20rem;
    height: 7rem;

}

.titulo{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

#ulCabeca{
    display: grid;
    grid-template-columns: 6rem 6rem 6rem 6rem;
    list-style: none;
    color: #ffffff;  
    justify-items: center;
}
.cabecaLink{
    padding: 1rem;
    
}

.cabecaLink:hover{
    background-color: #2f9e41;
}

h1{
    color: #ffffff;
}

a{
    color: inherit;
    text-decoration: none;
}

/* main */
#conteudo{
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    font-size: 1.3rem;
}
#planos{
    color: #00420c;
    font-weight: bold;
}

article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.introPlanos{
    display: grid;
    justify-items: center;
    gap: 0.2rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    color: gray;
}

.tituloPlanos{
    font-weight: bold;
    color: black;
}

.preco{
    font-size: 2rem;
    color: black;
}

.ulPlanos{
    display: grid;
    justify-items: center;
    list-style: none;
    
}

button{
    background-color: #212529;
    margin-top: 10px;
    height: 2rem;
    width: 7rem;
    border-radius: 5px;
    color: #ffffff;
}

.infos{
    box-shadow: 5px 6px 7px 3px rgba(0, 0, 0, 0.35);
    padding-bottom: 2rem;
    margin-bottom: 7rem;
}

.icon{
    width: 10%;
}

/* footer */

footer{
    background-color: #00420c;
    display: flex;
    align-items: center;
    color: #ffffff;
    justify-content: space-around;
    gap: 20rem;
    height: 7rem;

}

#redes{
    display: flex;
    gap: 1rem;   
}


/* responsividade */
@media screen and (max-width: 375px){

    main {
        padding: 1rem;
        gap: 1rem;
        margin-top:4rem;
    }

    .conteudo {
        gap: 1rem;
    }
    
    /* header */
    header {
       padding: .5rem 1rem;
       justify-content: space-between;
       position: fixed;
       top: 0;
       width: 100%;
   }

   ul{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
   }

   /* main */

   *{
    gap: .7rem;
}

main{
    gap: 1rem;
    margin-bottom: 4rem;
}

article{
    width: 100%;
    flex-flow: column wrap;
    margin: 0;
}

.infos{
    width: 100%;
}

.infos ul li {
    font-size: 1rem;
}

  /* footer */
   
  footer{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: .5rem;
    line-height: 150%;
    padding: .5rem 25%;
    margin-top: 0;
}
}
